.pane {
	padding: 1em;
	height: 500px;
}

.relation-panel {
	height: calc(100% - 56px);
	padding: 20px 2%;
	overflow-y: auto;
}

.function-panel {
	width: 100%;
	text-align: right;
	padding: 10px;
	height: 56px;
	background: #F5F5F5;
}

.table-head {
	height: 50px;
    background: grey;
    color: white;
    font-size: 16px;
	text-align: center;
	display: table;
	width: 100%;
}

.table-body {
	height: 40px;
    text-align: center;
	font-size: 16px;
	width: 100%;	
}

.even {
    background: #DEDEDE;	
}

.odd {
    background: #EFEFEF;
}

.even1 {
    background: #EFEFEF;	
}

.odd1 {
    background: #FEFEFE;	
}

.table-col {
	display: table-cell;
    vertical-align: middle;
	height: 100%;
}

.table-row {
	height: 40px;
	width: 100%;
	display: table;
	text-align: center;
}

.sub-table {
	width: 60%;
	border: 1px solid #DDD;
	margin: 10px;
	box-shadow: 1px 1px 4px 0px #AAA;
}

.button {
	height: calc(100% - 8px);
    width: 28px;
    cursor: pointer;
	margin-top: 4px;
	border-radius: 3px;
}

.button:hover {
	background: #C3C3C3;
}

.button-expand {
	float: left;
	margin-left: 10px;
	padding: 8px 6px;
}

.fa {
	font-size: 20px;
}

.label {
	margin: 0;
}

.button-action {
	float: left;
	margin-left: 10px;
	padding: 0;
	padding: 8px 6px;
}